.CourseDetailsDesc {
  display: flex;
  flex-direction: row;
}
.leftside {
  margin: 50px;
  /* display: flex;
    flex: 2; */
}
.rightside {
  height: 100%;
  display: flex;
  margin: 50px;
  position: sticky;
  top: 10px;
  background-color: red;
  /* display: flex;
  flex: 1; */
}
.CourseDetailsDesc {
  
}
