.Course {
  font-family: var(--font-Poppins);
}
.CourseDetails {
}
.CourseDetailsDesc {
  display: flex;
}
.CourseDetailsLeft {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 2;
  margin: 0 15em 0 0;
}
.CourseDetailsLeftBreadcrumb {
  margin: 3em 0 0 0;
}

.CourseDetailsLeftstarrate {
  font-size: 18px;
  margin: 1em 0;
  display: flex;
}
.CourseDetailsLeftstarrateGroupA {
  padding-right: 30px;
}
.CourseDetailsLeftImgDesc {
  display: flex;
  margin: 1.5em 0;
}
.CourseDetailsLeftstarrate .FaStar {
  width: 18px;
  height: 18px;
}
.CourseDetailsLeftImgDescOnlyImg {
  margin-right: 25px;
}
.CourseDetailsLeftImgDescTitle {
  font-size: 25px;
}
.CourseDetailsLeftImgDescDetails {
  color: rgba(0, 0, 0, 0.4);
}
.CourseDetailsLeftIoMdContact{
  
background: #F6F5F6;
  padding: 0em 2em;
}
.CourseDetailsLeftIoMdContactGA{
  width: 30px;
  height: 30px;
  margin: 10px;
}
.CourseDetailsRight {
  height: 100%;
  position: sticky;
  top: 80px;
  border-radius: 1em;
  /* background-color: red; */
}
.Course .CardVideoModelPreview {
  position: absolute;
  top: 14%;
  left: 42%;
}
.CourseDetailsLeftBreadcrumb .CourseDetailsLeftBreadcrumbItemA {
  font-size: 30px;
  color: #0e6486 !important;
  text-decoration: none !important;
}
.CourseDetailsLeftBreadcrumb .CourseDetailsLeftBreadcrumbItemA a {
  color: #0e6486;
  text-decoration: none;
}
.CourseDetailsLeftBreadcrumb .CourseDetailsLeftBreadcrumbItemB {
  font-size: 30px;
  color: #0e6486;
}
.breadcrumb-item {
  font-size: 20px;
  font-weight: 800;
}
.breadcrumb-item + .breadcrumb-item::before {
  content: var(--bs-breadcrumb-divider, ">");
}
.Preview {
  font-size: 30px;
  font-weight: 800;
  margin: 50px 0 20px 0;
}
.PreviewItems {
  /* text-align: justify; */
  display: grid;
  gap: 20px;
  grid-template-columns: auto auto;
  color: rgba(1, 13, 18, 0.7);
}
.Description {
  font-size: 30px;
  font-weight: 800;
  margin: 50px 0 20px 0;
}
.DescriptionDetails {
  text-align: justify;
  font-size: 18px;
  color: rgba(1, 13, 18, 0.7);
}
.Onclickmore {
  display: flex;
  width: 100%;
  justify-content: center;
  /* align-items: center; */
}
.Showmore {
  /* display: flex; */
  font-size: 20px;
  font-weight: 800;
  margin: 20px 0;
  padding: 0.2em 1em;
  /* align-items: center; */
  /* justify-content: center; */
  /* background-color: red; */
  border-radius: 10px;
  /* width: 50px; */
}
.Showmore:hover {
  cursor: pointer;
  box-shadow: 1px 1px 15px 1px#000;
}
.nav-tabs {
  border-bottom: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
}
/* ------InstructorsTitle------------------------------------------------ */
.InstructorsTitle {
  color: black;
  font-size: 20px;
}
/* ------CourseDetailsStudents------------------------------- */
.CourseDetailsStudents {
  margin: 5em 0;
}
.CourseDetailsStudentsTitle {
  font-size: 30px;
  font-weight: 700;
  margin: 1em 0;
}

.CourseDetailsStudentsCards {
  display: grid;
  grid-gap: 1em;
}
/* -----------FeatureClass---------------------------------------- */
.FeatureClass {
  margin: 5em 0;
}
.FeatureClassTitle {
  font-size: 30px;
  font-weight: 700;
  margin: 1em 0;
}
/* -------CourseDetailsRight---------------------------------------- */
.CourseDetailsRightCC {
  border: none;
  box-shadow: 5px 5px 15px rgba(91, 86, 86, 0.25);
}
.CourseDetailsRight .fixed {
  position: fixed;
  top: 80px;
}
.Course .Playbutton:hover {
  background-color: #000 !important;
}
.CourseDetailsRightC {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 300px;
}
.CourseDetailsRightPrice {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.4);
}
.CourseDetailsRightoff {
  display: flex;
  justify-content: space-between;
}
.CourseDetailsRightoffprice {
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.CourseDetailsRightoffoff {
  font-size: 16px;
  border-radius: 5px;
  padding: 5px 30px 0 30px;
  color: #fff;
  align-items: center;
  background-color: #ffc000;
}
.BuyNow {
  width: 100%;
  margin: 20px 0 0 0;
  padding: 10px 0 10px 0;
  border: none;
  font-size: 20px;
  font-weight: 500;
  border-radius: 5px;
  background-color: #ffc000;
}
/* .BuyNow:hover {
  box-shadow: 10px 20px 40px red;
  background-color: #000;
} */
.AddtoCart {
  margin: 20px 0 0 0;
  border: 1px solid #0e6486;
  width: 100%;
  border-radius: 5px;
  padding: 10px 0 10px 0;
  background-color: #fff;
  font-size: 20px;
  font-weight: 500;
}
.CourseInfo {
  margin: 30px 0 20px 0;
}
.CourseInfotitle {
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 0 0;
}
.CourseInfoItem {
  margin: 4px 0 0 0;
  font-size: 14px;
  font-weight: 500;
}
