.InstructorDetails {
  display: flex;
}
.InstructorDetailsDesc {
  margin: 0 0 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.InstructorDetailsTitle {
  font-size: 25px;
  font-weight: 600;
}
.InstructorDetailsName {
  font-size: 30px;
  font-weight: 700;
}
.InstructorDetailsDesc1 {
  font-size: 18px;
  font-weight: 500;
}
.InstructorRatings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f5f6f8;
  border-left: 2px solid #ffc000;
  padding: 10px;
}
.InstructorRatingsItem1 {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  font-size: 25px;
  font-weight: 700;
}
.InstructorRatingsItem2 {
  font-size: 20px;
  font-weight: 500;
}
.InstructorContact {
  display: flex;
  padding: 30px 0;
  justify-content: space-between;
}
.InstructorContactGroupA {
  display: flex;
  align-items: center;
  flex: 0.4;
  font-size: 25px;
}
.InstructorContactGroupB {
  color: rgba(26, 27, 29, 0.8);
}
.InstructorContactGroupBItem {
  font-size: 20px;
}
.InstructorContactGroupBItem {
}
.InstructorContactGroupBItemIcon {
  margin: 0 1em;
}

@media screen and (max-width: 850px) {
  .InstructorRatingsItem1 {
    font-size: 20px;
  }
  .InstructorRatingsItem2 {
    font-size: 15px;
  }
  .InstructorContactGroupA {
    font-size: 20px;
  }
  .InstructorContactGroupBItemIcon {
    font-size: 16px;
  }
}

@media screen and (max-width: 410px) {
  .InstructorDetails {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
  }
  .InstructorDetailsDesc {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    /* text-align: center; */
  }
  .InstructorContact {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding: 0;
  }
  .InstructorRatings {
  }
  .InstructorDetailsImg {
    width: 50%;
    height: auto;
  }
  .InstructorDetailsTitle {
    font-size: 16px;
  }
  .InstructorDetailsName {
    font-size: 20px;
  }
  .InstructorDetails {
    font-size: 16px;
  }
  .InstructorDetailsDesc1 {
    font-size: 16px;
  }
  .InstructorRatingsItem1 {
    font-size: 16px;
  }
  .InstructorRatingsItem2 {
    font-size: 14px;
  }
  .InstructorContactGroupBItem {
    font-size: 16px;
  }
  .InstructorContactGroupBItemIcon {
    font-size: 16px;
  }
  .FeatureClass{
    margin: 0;
  }
}
