.mainBody {
  overflow: hidden;
}

/* ------------------------------------------------------ */

.Track{
  display: flex;
  justify-content: space-between;
}

/* ------------------------------------------------------ */

.SubscribedClass {
  display: flex;
  align-items: center;
  height: 600px;
}

.MostClass {
  width: 375px;
  height: 37px;
  margin: 20px 0px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.01em;
  color: #000000;
}
.SubscribedClassCard{
  display: flex;
  justify-content: space-between;

}
/* ---------------------------------------------------------------------- */
.Learnany {
  background: #e7f1fe;
  height: 480px;
}
.LearnanyCol {
  position: relative;
  top: 150px;
}

.LearnanyTitle {
  width: 406px;
  height: 37px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.01em;
  color: #000000;
}
.LearnanyDesc {
  width: 530px;
  height: 70px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  letter-spacing: 0.01em;
  color: #000000;
}
.LearnanyButton {
  width: 195px;
  height: 54px;
  color: #0e6486;
  background: #ffffff;
  box-shadow: 0px 12px 35px rgba(41, 32, 5, 0.2);
  border-style: none;
  border-radius: 5px;
  margin: 50px 0 0 0;
}

.Rec1 {
  position: relative;
  top: -40px;
  width: 318px;
  height: 303px;
}
.Rec2 {
  position: relative;
  right: -58px;
  top: -20px;
}
.Rec3 {
  position: relative;
  top: -400px;
  left: 330px;
}

/* --------------------------------------------------------- */

.interested {
  height: 600px;
}

.vector1 {
  position: relative;
  left: 300px;
  top: 60px;
}

.vector2 {
  position: relative;
  left: -50px;
  top: -70px;
}
.vector3 {
  position: relative;
  top: -450px;
  left: 120px;
}
.interestedCol {
  position: relative;
  top: 200px;
  left: 100px;
}
.interestedColTitle {
  width: 400px;
  height: 76px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: right;
  letter-spacing: 0.01em;
  color: #000000;
}
.interestedColDesc {
  position: relative;
  left: 85px;
  width: 309px;
  height: 24px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: right;
  letter-spacing: 0.01em;
  color: #110000;
}
.interestedColBut {
  position: relative;
  top: 50px;
  left: 200px;
  padding: 20px 50px;
  color: #0e6486;
  box-shadow: 0px 12px 35px rgba(41, 32, 5, 0.2);
  border-radius: 5px;
  border-style: none;
  background: #ffffff;
}
