.mainBody {
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

/* ------------------------------------------------------ */

.SubscribedClass {
  margin: 5em 0;
  display: flex;
  flex-direction: column;
  height: auto;
}

.MostClass {
  width: 375px;
  margin: 0px 0px 30px 0px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.01em;
  color: #000000;
}
.SubscribedClassCard {
  display: flex;
  gap: 1em;
  flex: 1;
  flex-wrap: wrap;
}
.SubscribedClassCard > * {
  flex-grow: 1;
}
/* --------Learnany-------------------------------------------------------------- */
.Learnany {
  background: #e7f1fe;
  padding: 8em 0 12em 0;
  height: auto;
}
.LearnanyDetails {
  position: relative;
  display: flex;
  gap: 1rem;
}

.LearnanyGroupA {
  display: flex;
  flex: 0.5;
  flex-direction: column;
  justify-content: center;
  height: auto;
}
.LearnanyGroupB {
  position: relative;
  flex-wrap: wrap;
}

.LearnanyTitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.01em;
  color: #000000;
}
.LearnanyDesc {
  font-family: "Montserrat";
  font-style: normal;
  max-width: 80%;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  letter-spacing: 0.01em;
  color: #000000;
}
.LearnanyButton {
  width: 195px;
  height: 54px;
  color: #0e6486;
  background: #ffffff;
  box-shadow: 0px 12px 35px rgba(41, 32, 5, 0.2);
  border-style: none;
  border-radius: 5px;
  margin: 50px 0 0 0;
  transition: 0.2s;
}
.LearnanyButton:hover {
  border: 1px solid rgb(128, 88, 88);
}

.Rec1ImgA {
  /* width: 100%;
  height: auto; */
  position: absolute;
  top: -150px;
  left: 0;
}

.Rec1ImgB {
  position: absolute;
  left: 58px;
  top: 180px;
}

.Rec1ImgC {
  position: absolute;
  top: 0px;
  left: 340px;
}

/* --------interested------------------------------------------------- */

.interested {
  margin: 10em 0 0 0;
  padding: 0;
}
.interesteddiv {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  /* flex: 2; */
  gap: 1em;
  /* position: relative; */
}
.interestedRelative {
  position: relative;
  margin: 0;
  padding: 0;
}

.vector1 {
  position: relative;
  left: 0em;
  top: 10em;
}

.vector2 {
  position: relative;
  left: 0px;
  top: 0px;
}
.vector3 {
  position: relative;
  left: 10em;
  top: -13em;
}
.interestedCol {
  display: flex;
  position: relative;
  /* left: 60%;
  width: 40%; */
  flex-direction: column;
  justify-content: center;
  padding: 2em 0 0 0;
}
.interestedColTitle {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  /* text-align: right; */
  letter-spacing: 0.01em;
  color: #000000;
}
.interestedColDesc {
  margin: 1em 0;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #110000;
}
.interestedColBut {
  padding: 20px 50px;
  color: #0e6486;
  box-shadow: 0px 12px 35px rgba(41, 32, 5, 0.2);
  border-radius: 5px;
  border-style: none;
  background: #ffffff;
}
.interestedColBut:hover {
  border: 1px solid rgb(128, 88, 88);
}
/* --------------------------------------------------------------------------------- */
@media screen and (max-width: 1050px) {
  .LearnanyDetails {
    display: flex;
    flex-direction: column;
  }
  .LearnanyGroupB {
    display: flex;
    flex: 0.5;
    padding: 0 0 12em 0;
    margin: 12em 10em 0 0;
  }

  .interesteddiv {
    display: flex;
    flex-direction: column-reverse;
  }
  .interesteddivImg {
    margin: 6em 0 0 0;
  }
  .interestedCol {
    text-align: center;
  }
}
@media screen and (max-width: 850px) {
  .interesteddiv{
    margin-bottom: -20em;
  }
  .vector3 {
    width: 60%;
    top: -34em;
    left: 10em;
  }
  .vector1 {
    width: 60%;
    left: 18em;
    top: 6em;
  }
  .vector2 {
    width: 60%;
    left: 0;
  }
  .interesteddiv {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    gap: 2em;
  }
  .interesteddivImg {
    padding: 0;
    margin: 0;
  }
  .interestedCol {
    display: flex;
    flex: 1;
  }
  .interestedColTitle {
  }
  .interestedColDesc {
  }
  .interestedColBut {
  }
}
@media screen and (max-width: 400px) {
  .LearnanyGroupA {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .LearnanyTitle {
    display: flex;
    align-items: center;
  }
  .LearnanyGroupB {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    padding: 0 0 50px 0;
  }
  .Rec1ImgA {
    width: 45%;
  }
  .Rec1ImgB {
    width: 45%;
    top: 20px;
    left: 0px;
  }
  .Rec1ImgC {
    width: 50%;
    top: -50px;
    left: 170px;
  }
}
@media screen and (max-width: 510px) {
  .Learnany {
    padding: 3em 0 4em 0;
    text-align: center;
  }
  .LearnanyTitle {
    /* text-align: center; */
    padding: 0 0 1em 0;
  }
  .interested {
    margin: 5em 0;
    padding: 0 0 5em 0;
  }
  .interesteddivImg {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
  }
  .vector1 {
    width: 60%;
    left: 90px;
  }
  .vector2 {
    width: 60%;
    left: 10px;
  }
  .vector3 {
    width: 60%;
    left: 50px;
    top: -15em;
  }
}
