.mainBody {
  font-family: "Poppins", sans-serif;
}

/* ------------------------------------------------------ */

.SubscribedClass {
  margin: 5em 0;
  display: flex;
  flex-direction: column;
  height: auto;
}

.MostClass {
  width: 375px;
  margin: 0px 0px 30px 0px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.01em;
  color: #000000;
}
.SubscribedClassCard {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  /* display: grid;
  grid-gap: 1em;;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
}
.SubscribedClassCard > * {
  flex-grow: 1;
}
/* --------Learnany-------------------------------------------------------------- */
.Learnany {
  background: #e7f1fe;
  padding: 8em 0 12em 0;
  height: auto;
}
.LearnanyDetails {
  position: relative;
  display: flex;
  gap: 1rem;
}

.LearnanyGroupA {
  display: flex;
  flex: 0.5;
  flex-direction: column;
  justify-content: center;
  height: auto;
}
.LearnanyGroupB {
  position: relative;
  flex-wrap: wrap;
}

.LearnanyTitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.01em;
  color: #000000;
}
.LearnanyDesc {
  font-family: "Montserrat";
  font-style: normal;
  max-width: 80%;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  letter-spacing: 0.01em;
  color: #000000;
}
.LearnanyButton {
  width: 195px;
  height: 54px;
  color: #0e6486;
  background: #ffffff;
  box-shadow: 0px 12px 35px rgba(41, 32, 5, 0.2);
  border-style: none;
  border-radius: 5px;
  margin: 50px 0 0 0;
  transition: 0.2s;
}
.LearnanyButton:hover {
  border: 1px solid rgb(128, 88, 88);
}

.Rec1ImgA {
  /* width: 100%;
  height: auto; */
  position: absolute;
  top: -150px;
  left: 0;
}

.Rec1ImgB {
  position: absolute;
  left: 58px;
  top: 180px;
}

.Rec1ImgC {
  position: absolute;
  top: 0px;
  left: 340px;
}

/* --------interested------------------------------------------------- */

.interested {
  margin: 10em 0 15em 0;
}
.interesteddiv {
  display: flex;
  justify-content: space-between;
  position: relative;
  gap: 1em;
}
.interesteddivImg {
  position: relative;
}

.vector1 {
  position: absolute;
  left: 60px;
  top: -40px;
}

.vector2 {
  position: absolute;
  left: -60px;
  top: 40px;
}
.vector3 {
  position: absolute;
}
.interestedCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.interestedColTitle {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: right;
  letter-spacing: 0.01em;
  color: #000000;
}
.interestedColDesc {
  margin: 1em 0;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: right;
  letter-spacing: 0.01em;
  color: #110000;
}
.interestedColBut {
  padding: 20px 50px;
  color: #0e6486;
  box-shadow: 0px 12px 35px rgba(41, 32, 5, 0.2);
  border-radius: 5px;
  border-style: none;
  background: #ffffff;
}
.interestedColBut:hover {
  border: 1px solid rgb(128, 88, 88);
}
/* --------------------------------------------------------------------------------- */
@media screen and (max-width: 1050px) {
  .LearnanyDetails {
    display: flex;
    flex-direction: column;
  }
  .LearnanyGroupB {
    display: flex;
    flex: 0.5;
    padding: 0 0 12em 0;
    margin: 12em 10em 0 0;
  }
  /* .Rec1ImgA {
    width: 50%;
  }
  .Rec1ImgB {
    width: 50%;
  }
  .Rec1ImgC {
    width: 50%;
  } */
}
@media screen and (max-width: 1050px) {
  .interesteddiv {
    display: flex;
    flex-direction: column-reverse;
  }
  .interesteddivImg {
    margin: 8em 0 8em 2em;
  }
}
@media screen and (max-width: 400px) {
  .LearnanyGroupA {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .LearnanyTitle {
    display: flex;
    align-items: center;
  }
  .LearnanyGroupB {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    padding: 0 0 50px 0;
  }
  .Rec1ImgA {
    width: 45%;
  }
  .Rec1ImgB {
    width: 45%;
    top: 20px;
    left: 0px;
  }
  .Rec1ImgC {
    width: 50%;
    top: -50px;
    left: 170px;
  }
}
@media screen and (max-width: 510px) {
  .interested {
    margin: 5em 0;
    padding: 0 0 5em 0;
  }
  .interesteddivImg {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
  }
  .vector1 {
    width: 60%;
    left: 80px;
  }
  .vector2 {
    width: 60%;
    left: 0px;
  }
  .vector3 {
    width: 60%;
    left: 40px;
  }
}
