.Courses {
  margin: 6em 0;
  display: flex;
  align-items: center;
  font-family: var(--font-Montserrat);
}
.CoursesTitle {
  display: flex;
  justify-content: space-around;
  line-height: 37px;
  font-size: 30px;
  font-weight: 700;
  margin: 1em 0;
  letter-spacing: 0.02em;
}

.Courses .slick-list{
  max-width: 1500px;
}
  .Courses .nav-tabs .nav-link {
  font-weight: 550;
  line-height: 15px;
  letter-spacing: 0.02em;
  margin: 0.5em 0;
}
.Courses .nav-tabs {
  display: flex;
  justify-content: space-around;
}
.Courses .slick-slide > div {
  margin: 0 10px;
}
.Courses .slick-list {
  margin: 0 -10px;
}

.Courses .slick-dots {
  bottom: -64px;
}

.Courses .slick-prev,
.slick-next {
  top: 63%;
}
.Courses .slick-dots li button:before {
  font-size: 12px;
  color: #0e6486;
}
.Courses .slick-dots li.slick-active button:before {
  opacity: 0.75;
  /* color: black; */
}
.slick-next {
  z-index: 1;
}
.slick-prev {
  z-index: 1;
}
.Courses .BiChevron:hover {
  transform: scale(1.25);
}

.Courses .nav-link {
  color: #000;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 25px;
  font-weight: 500;
  margin: 0 50px 0 0;
  letter-spacing: 0.02em;
}
.Courses .nav-tabs {
  border: none;
}

@media screen and (max-width: 410px) {
  .Courses .slick-next {
    display: none;
  }
  .Courses .slick-prev {
    display: none;
  }
  .Courses .slick-list{
    width: 200px;
  }
  .Courses .BiChevronBnext{
    position: relative;
  }
  .Courses .BiChevronBprev{

  }
  
}
