.Courses {
  margin: 6em 0;
  /* display: flex;
  align-items: center; */
  font-family: var(--font-Montserrat);
}
.CoursesTitle {
  display: flex;
  justify-content: space-around;
  line-height: 37px;
  font-size: 30px;
  font-weight: 700;
  margin: 1em 0;
  letter-spacing: 0.02em;
}
.Courses .CoursesNav .slick-slide{
  width: 200px !important;
}

.CoursesNav .tab1{
  width: 50px;
}

.Courses .CoursesNavItem{
  width: 50px;
}

.Courses .CoursesNav .slick-slider {
  max-width: 1000px;
}
.Courses .CoursesNav .slick-arrow {
  
}
.Courses .CoursesNav .slick-prev {
  
}
.Courses .CoursesNav .slick-list {
  max-width: 1200px;
}
.Courses .CoursesNav .slick-track {
  /* max-width: 100%; */
  overflow: hidden;
} 
.Courses .CoursesNav .slick-slide {
  
}
.Courses .CoursesNav .nav-item {
  
}
.Courses .CoursesTab .slick-slide > div {
  margin: 0 10px;
}
.Courses .CoursesTab .slick-list {
  margin: 0 -10px;
}

.Courses .CoursesTab .slick-dots {
  bottom: -64px;
}

.Courses .CoursesTab .slick-prev,
.slick-next {
  top: 63%;
}
.Courses .CoursesTab .slick-dots li button:before {
  font-size: 12px;
  color: #0e6486;
}
.slick-next {
  z-index: 1;
}
.slick-prev {
  z-index: 1;
}
.Courses .BiChevron:hover {
  transform: scale(1.25);
}
.Courses .CoursesTab .nav-tabs .nav-link {
  /* font-weight: 550;
  line-height: 15px;
  letter-spacing: 0.02em;
  margin: 0.5em 0; */
}

.Courses .CoursesTab .slick-dots li.slick-active button:before {
  /* opacity: 0.75; */
  /* color: black; */
}
.Courses .nav-link {
  /* color: #000;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 25px;
  font-weight: 500;
  margin: 0 50px 0 0;
  letter-spacing: 0.02em; */
}
.Courses .nav-tabs {
  /* border: none; */
}

@media screen and (max-width: 410px) {
  .Courses .slick-next {
    display: none;
  }
  .Courses .slick-prev {
    display: none;
  }
  .Courses .slick-list {
    width: 200px;
  }
  .Courses .BiChevronBnext {
    position: relative;
  }
  .Courses .BiChevronBprev {
  }
}
