.body{
    height: 280px;
}
.footerLogo {
  height: 106px;
  width: 134px;  
}
.logoRow{
    position: relative;
    left: 50px;
}
.newIcons{
    margin: 20px 0 0 0;
    width: 250px;
}
.footerIcons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.icon1fa{
    width: 25px;
    height: 25px;
    color: #7D92A2;
}
.programs1 {
  display: flex;
  justify-content: space-around;
}
.programs {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}
.singleProgram {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 15px;
}
.contact{
    position: relative;
    left: 150px;
}
