.header {
  height: 653px;
  background: #005b7f;
  font-family: "Montserrat";
}
.headerbody{
  display: flex;
  align-items: center;
}

.headerHeading {
  width: 593px;
  height: 91px;
  font-weight: 800;
  font-size: 45px;
  line-height: 50px;
  letter-spacing: 0.01em;
  margin: 20px 0 20px 0;
  color: #ffffff;
}
.headerbodydesc{
  width: 800px;
}
.headerDesc {
  width: 522px;
  height: 48px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #ffffff;
}
.FemaleImg {
  position: relative;
  top:48px;
}
