.Levels {
  height: 600px;
  display: flex;
  align-items: center;
  font-family: var(--font-Montserrat);
}
.LanguagesTitle {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 20px;
}
.Levels .nav-tabs {
  margin-bottom: 25px !important;
}
.Levels .slick-slide > div {
  margin: 0 10px;
}
.Levels .slick-list {
  margin: 0 -10px;
}
.Levels .nav-tabs {
  border: none;
}
.Levels .nav-link {
  color: rgba(71, 6, 6, 0.25);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 25px;
  font-weight: 500;
  margin: 0 50px 0 0;
  letter-spacing: 0.02em;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border: none;
}

.Levels .container .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #0e6486 !important;
  border: none;
  border-bottom: 5px solid orange !important;
  border-radius: 2px;
}

.Languages .BiChevron:hover {
  transform: scale(1.25);
}
