.PreparationSingleCard {
  border: none;
  border-top: 8px solid #0e6486 !important;
  border-radius: 5px !important;
  width: 400px;
  height: 300px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f4f3f4 !important;
  transition: transform 0.2s;
  filter: drop-shadow(4px 5px 15px rgba(0, 0, 0, 0.25));
}
.PreparationSingleCard:hover {
  transform: scale(1.05);
}
.PreparationCardDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.PreparationCardTitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 20px;
  max-width: 280px;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
}
.PreparationCardDate {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
  letter-spacing: 0.02em;
}
.PreparationCardButtons {
  display: flex;
  justify-content: space-between;
}
.PreparationCardButtonsFree {
  font-family: "Montserrat";
  color: #fff;
  border-radius: 4px;
  border: none;
  padding: 0 20px;
  letter-spacing: 0.02em;
  transition: 0.2s;
  background: linear-gradient(253.58deg, #ffc000 1.55%, #ff8a00 95.8%);
}
.PreparationCardButtonsFree:hover {
  color: #000;
  background: #fff;
  border: 1px solid rgb(202, 139, 23);
  box-shadow: 2px 2px 10px#000;
}
.PreparationCardButtonsEnroll {
  font-family: "Montserrat";
  border: 1px solid #0e6486;
  color: #0e6486;
  letter-spacing: 0.02em;
  border-radius: 4px;
  transition: 0.2s;
}

.PreparationCardButtonsEnroll:hover {
  color: #f4f3f4;
  background: #0e6486;
  border: 1px solid #f4f3f4;
  box-shadow: 2px 2px 10px#000;
}
