
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #005B7F;
  top: 0;
  z-index: 2;
}
.DigitalclassNavbar{
  width: 100%;
}
.fixednav{
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.DigitalclassNavbar #basic-nav-dropdown{
  letter-spacing: 0.01em;
}
.navbar-light .navbar-nav .nav-link {
  width: 120px;
  border-radius: 3px;
  color: #fff;
}

#basic-nav-dropdown {
  margin-top: 20px;
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
}
.searchBar {
  margin-top: 5px;
  height: 44px;
  width: 445px;
  background: #fff1f3;
  border-radius: 8px;
}
.input {
  position: relative;
  background: none;
  border: none;
  left: 50px;
  height: 44px;
  outline: none;
}
.searchIcon {
  position: relative;
  color: #888c94;
  float: right;
  top: 15px;
  right: 50px;
}
.me-auto {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.2) !important;
  transition-duration: 0.4s;
}
.navbuttons {
  display: flex;
  margin: 0 10px 0 10px;
}
.me-auto .Register {
  margin: 0 10px 0 10px;
  display: flex;
  justify-content: center;
  border: 1px solid #fff;
  background: linear-gradient(253.58deg, #0b83b3 1.55%, #0c759e 95.8%);
}

.me-auto .Register:hover {
  background-color: #fff !important;
}

.me-auto .Login {
  margin: 0 10px 0 10px;
  display: flex;
  justify-content: center;
  background: linear-gradient(253.58deg, #ffc000 1.55%, #ff8a00 95.8%);
}

/* -----------------------Responsive--------------------- */

@media (max-width: 1000px) { 
  .searchBar{
    display: none;
  }
 }

 @media (max-width: 770px) { 
  .navbuttons{
    display: none;
  } 
 }