@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;200;300;400&family=Poppins:wght@100;200;300;400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300&family=Smooch+Sans:wght@100&display=swap");

:root {
  --Dancingfont-: "Dancing Script", cursive;
  --font-Montserrat: "Montserrat", sans-serif;
  --font-Poppins: "Poppins", sans-serif;
  --font-Roboto: "Roboto", sans-serif;
  --font-Lato: "Lato", sans-serif;
  --font-Smooch: "Smooch Sans", sans-serif;
}
